#LogicalOpBox{
    background-color: #1b263b;
  
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
    border-color: #0a152a;;
  
    margin: 2px;
  
    padding: 10px;
  
    width: 320px;
    height: 150px;
  }

#LogicalOpBox1{
    height: 100px;
}
