.RunButton{
  background-color: #778da9;
  color: #e0e1dd;
  border-width: 1px;
  border-style: solid;
}
  

input{
  background-color: #778da9;
  border-width: 1px;
  border-style: solid;
}

#TraverseNumbers{
  width: 155px;
  
}

#TraverseText{
  text-align: center;
}

#TraverseBox1{
  text-align: center;
}

#ValidateBox1{
  text-align: center;
}

#ValidateNumber{
  width: 100px;
}

#ValidateText{
  text-align: center;
}

#TotalBox1{
  text-align: center;
}

#TotalText{
  margin: 5px;
}

#TotalRun{
  background-color: #778da9;
  color: #e0e1dd;
  border-style: none;
}