body {
  background-color: #0d1b2a;
  color: #e0e1dd;
}

li:hover{
   
}

::placeholder{
  color: #e0e1dd6a;
}

#row1{
  display: flex;
  flex-wrap: wrap;
}

.box{
  border-color: black;
  border-width: 5px;
  border-radius: 6px;

  background-color: #415a77;

  width: 300px;
  height: 80px;

  padding: 5px;

  margin: 5px;
}

.Title{
  text-align: center;
  margin: 0;
  margin-bottom: 4px;
}

.BigBox {
  background-color: #1b263b;
  
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
    border-color: #0a152a;

    margin: 2px;

    padding: 10px;
  
    width: 320px;

}
